html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #141414;
}

.logo {
  width: 100px;
  margin: 10px;
  align-self: center;
}

.title {
  margin-top: 20px;
  color: #804047;
  font-size: 120%;
}

.paragraph {
  color: #cccccc;
}
.guideWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  background-color: #141414;
  overflow: hidden;
}

.cont {
  flex-grow: 1;
  width: 85vw;
  height: 90vh;
  background-color: #161616;
  border: 1px solid gray;
  margin: 50px;
}

.panel {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1c1c1c;
  color: #ffffff;
  overflow-y: auto;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
}

/* .hide {
  visibility: hidden;
} */

.renderButton {
  width: 100%;
  height: 50px;
  background-color: #e67e22;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.renderButton:hover {
  background-color: #d2691e;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.renderButton:active {
  background-color: #b35418;
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shapeOptions {
  list-style: none;
  padding: 0;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.shapeOption {
  width: 4vw;
  height: 4vw;
  border: 2px solid #804047;
  border-radius: 5px;
  background-color: #362929;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.templateCont {
  display: flex;
  flex-direction: column;
}

.shapeOption:hover {
  background-color: #94183b;
  border-color: #94183b;
}

.fpscounter {
  border: 1px solid #00b822;
  margin: 20px 0;
}

.fpscounter p {
  color: #00740c;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

.floorSelector {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #ffffff;
}

.floorSelector label {
  font-size: 14px;
}

.floorDropdown {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #3a3a3a;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  transition: border-color 0.3s;
}

.floorDropdown:focus {
  outline: none;
  border-color: #1e90ff;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(73, 73, 73, 0.8);
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  10%,
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entrance {
  background-image: url("./shapeImages/entrance_icon.png");
}

.wall {
  background-image: url("./shapeImages/wall_icon.png");
}

.room {
  background-image: url("./shapeImages/room_icon.png");
}
