@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  flex-wrap: wrap;
}

.toolbar h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
  padding-right: 20px;
}

.left {
  width: 100%;
  max-width: 100%;
  padding-left: 10vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 20px;
  padding-right: 100px;
  height: 100%;
}

.right {
  position: absolute;
  top: 1.2em;
  right: 60px;
  z-index: 10;
}

.mapContainer {
  position: relative;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: beige;
}

.mapControlsContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
