.logoContainer {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.logoImage {
  width: 80px;
  height: auto;
  transition: opacity 0.2s ease;
  border-radius: 20px;
}

.logoImage:hover {
  opacity: 0.8; /* Slight hover effect */
}

.fixedLogoContainer {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.inlineLogoContainer {
  display: inline-block; /* Allows the logo to be placed inline within other elements */
  cursor: pointer;
}

.logoImage:hover {
  opacity: 0.8; /* Hover effect */
}
