.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 6vh;
  max-width: 80%;
}

.left {
  max-width: 100%;
  padding-left: 10vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: nowrap;
  gap: 20px;
}

.right {
  position: absolute;
  top: 6vh;
  right: 50px;
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    max-width: 100%; /* Ensure it takes full width */
  }

  .left {
    width: 100%; /* Ensure full width */
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the content */
    padding-left: 0; /* Remove padding on smaller screens */
  }
}
