.wrapper {
  width: 100vh;
  height: 100vh;
  display: flex;
}

.cont {
  width: 100%;
  height: 90vh;
}

.dropdownContent label{
  display: flex;
  padding: 10px;
}
.dropdownContent{
  margin-top: 10px;
  margin-left: 20px;
}

.panel {
  display: flex;
  padding: 20px;
}

.panel button {
  width: 20vh;
  height: 10vh;
}
