.wrapper {
  width: 100vh;
  height: 100vh;
  display: flex;
}

.cont {
  width: 100%;
  height: 90vh;
}

.panel {
  display: flex;
  padding: 20px;
}

.panel button {
  width: 20vh;
  height: 10vh;
}
