@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.toolbar {
  width: 100%;
  padding: 0px;
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.6);
}

.toolbar h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  font-family: "Oswald", sans-serif;
  padding-right: 2em;
  margin-top: 0;
  white-space: nowrap;}

.left {
  width: 100%;
  max-width: 100%;
  padding-left: 15vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 20px;
  padding-right: 10px;
  height: 100%;
}

.right {
  position: absolute;
  top: 1.2em;
  right: 60px;
  z-index: 10;
}

.mapContainer {
  position: relative;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #F2F2F2;
}

.mapControlsContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.nextButtonContainer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.nextButton {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.75);
  cursor: pointer;
  animation: pulse 2s infinite;
  transition: transform 0.2s ease-in-out;
}

.nextButton:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 123, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
  }
}
