.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 105;
  max-width: 600px;
  width: 100%;
  padding: 10px;
}

.searchBar,
.directionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  /*width: 100%;*/
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: nowrap;
}

.inputField {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 30px;
  outline: none;
  margin-right: 10px;
  min-width: 0;

}

.dropdown {
  position: absolute; /* Position absolute to detach from wrapper flow */
  top: 100%; /* Place below the search bar */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; /* Match the search bar width */
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999; /* Highest level to ensure it's above everything */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #007bff; /* Highlight color */
  color: white; /* Ensure text is readable */
}


.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.iconButton:hover {
  background-color: #e0e0e0;
}

.iconButton img {
  width: 20px;
  height: 20px;
}

.directionsContainer {
  gap: 10px;
}

.directionsInputs {
  display: flex;
  width: 100%;
  gap: 10px;
}
