button img {
  width: 24px;
}
button {
  border: 1px solid blueviolet;
}

.hide {
  visibility: hidden;
}

.wideButton {
  width: 100%;
}

.customSearch {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.expanded {
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.expandedSection {
  display: flex;
  align-items: center;
}

.customButton {
  width: 100%;
  display: block; /* Makes the image a block-level element */
  margin: 0 auto;
}
